<article class="is-hidden" id="generate"> <!-- Generuj -->
    <div class="columns">
        <div class="column is-one-quarter has-text-left">
            <div class="notification is-warning">
              Koniec ustawiania. Czas generowania. Kliknij w guzik, aby pobrać plik.<br>
            </div>
        </div>

        <div class="column has-text-left is-two-thirds">
            <div class="level top_gap">
                <div class="level-item has-text-centered">
                    <a class="button is-dark is-large is-rounded" id="submit"><i class="fa fa-microchip" aria-hidden="true">&nbsp;</i>Generuj!</a>
                </div>
            </div>
        </div>
    </div>
</article>