{{html_header|safe}}
<section class="section">
    <div class="container has-text-centered">
    	{{top_panel|safe}}
    	<section class="section" style="border:1px solid #ccc;border-top:none">
    		<div class="container">
    			{{prefixy|safe}}
    			{{talkgroups|safe}}
    			{{spec_contacts|safe}}
    			{{channels|safe}}
    			{{generate|safe}}
    			{{comments|safe}}

    			{{error|safe}}
    			{{modal_info|safe}}
    		</div>
    	</section>
        {{footer|safe}}
    </div>
</section>
<script id="dsq-count-scr" src="//gd77.disqus.com/count.js" async></script>

<script>
    window.kab_mode = {% if kab_user %}true{% else %}false{% endif %};
</script>

<script src="{{ url_for('static', filename='main.js') }}"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-220058-16"></script>
<script src="{{ url_for('static', filename='stuff.js') }}"></script>
</body>
</html>