{% extends "base.html" %}
{% block title %}Kontakty dla GD-77{% endblock %}

{% block content %}
<section class="section">

	<div class="container has-text-centered">

		<section class="hero is-dark" style="border-left:1px solid #ccc;border-right:1px solid #ccc">
		  <!-- Hero head: will stick at the top -->
		  <div class="hero-head">
		    <header class="navbar">
		      <div class="container">

		        <div id="navbarMenuHeroC" class="navbar-menu">
		          <div class="navbar-end" id="about_btn">
		            <a class="navbar-item">
		              Info
		            </a>
		            <span class="navbar-item">
		            	&nbsp;
		            </span>
		          </div>
		        </div>
		      </div>
		    </header>
		  </div>

		  <!-- Hero content: will be in the middle -->
		  <div class="hero-body">
		    <div class="container has-text-centered">
		      <h1 class="title">
		        Generator listy kontaktów dla radia GD-77
		      </h1>
		    </div>
		  </div>

		  <!-- Hero footer: will stick at the bottom -->
		  <div class="hero-foot">
		    <nav class="tabs is-boxed is-fullwidth">
		      <div class="container">
		        <ul>
		           <li class="navbutton is-active" section="prefarea"><a><span class="icon is-small"><i class="fa fa-map-o"></i></span><span>Prefixy i okręgi kontaktów</span></a></li>
				   <li class="navbutton" section="talkgroups"><a><span class="icon is-small"><i class="fa fa-users"></i></span><span>Grupy rozmówne</span></a></li>
				   <li class="navbutton" section="speccont"><a><span class="icon is-small"><i class="fa fa-user"></i></span><span>Kontakty specjalne</span></a></li>
				   <li class="navbutton" section="channels"><a><span class="icon is-small"><i class="fa fa-server"></i></span><span>Kanały</span></a></li>
				   <li class="navbutton" section="generate"><a><span class="icon is-small"><i class="fa fa-magic"></i></span><span>Generuj</span></a></li>
				   <li class="navbutton" section="comments"><a><span class="icon is-small"><i class="fa fa-commenting-o"></i></span><span>Komentarze</span></a></li>
		      </div>
		    </nav>
		  </div>
		</section>

		<section class="section" style="border:1px solid #ccc;border-top:none">
			<div class="container">
				<article class="" id="prefarea">  <!-- Prefixy -->
					<div class="columns">
						<div class="column is-one-quarter has-text-left">
							<div class="notification is-warning">
							  Musisz zaznaczyć przynajmniej jeden prefix i jeden okręg wywoławczy.<br/>
							  Jeśli nic nie zaznaczysz, lista kontaktów zostanie sporządzona na podstawie pozostałych ustawień.
							</div>
						</div>

						<div class="column has-text-left">
							<br>
							<h5 class="title is-5">Prefixy</h5>
							<input type="checkbox" id="prefix_all">&nbsp;<strong>*</strong>&nbsp;
							{% for p in prefixy %}
							<label class="checkbox">
									<input type="checkbox" class="prefix_selection" value="{{p}}">&nbsp;<strong>{{ p }}</strong>&nbsp;
							</label>
							{% endfor %}

							<br>
							<br>

					  		<h5 class="title is-5">Okręgi wywoławcze</h5>
					  		<input type="checkbox" id="area_all">&nbsp;<strong>*</strong>&nbsp;
							{% for a in range(1, 10) %}
								<input type="checkbox" value="{{a}}" class="area_selection">&nbsp;<strong>{{ a }}</strong>&nbsp;
							{% endfor %}
					  	</div>
					</div>
				</article>

				<article class="is-hidden" id="talkgroups"> <!-- Grupy rozmowne -->
					<div class="columns">
						<div class="column is-one-quarter has-text-left">
							<div class="notification is-warning">
								Zaznacz, które grupy rozmówne mają zostać dodane do twojej listy.<br/>
								Te kontakty znajdą się na początku listy.
							</div>
						</div>

						<div class="column has-text-left">
							<table class="table is-hoverable">
								<tbody>
								{% for contact in additional_tgs %}
							    	<tr>
							      		<th><input type="checkbox" value="{{contact.id}}" class="tg_checkbox"></th>
							      		<td><code>{{contact.id}}</code></td>
							      		<td><strong>{{ contact.name|safe }}</strong></td>
							      		<td>{{ contact.description|safe }}</td>
							    	</tr>
							    {% endfor %}
							    </tbody>
							</table>


							{% if sp_talkgroups %}
							<p class="subtitle">{{sp_talkgroups['name']}}</p>
							<table class="table is-hoverable">
								<thead>
									<tr>
										<th colspan="3">{{ sp_talkgroups['description']|safe}}</th>
									</tr>
								</thead>
								<tbody>
								{% for tg in sp_talkgroups['items'] %}
									<tr>
										<th><input type="checkbox" value="{{tg['id']}}" class="tg_checkbox"></th>
										<td>{{tg['id']}}</td>
										<td>{{tg['name']}}</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
							{% endif %}
					  	</div>
					</div>
				</article>


				<article class="is-hidden" id="speccont"> <!--  Kontakty specjalne -->
					<div class="columns">
						<div class="column is-one-quarter has-text-left">
							<div class="notification is-warning">
							  Kontakty specjalne zostaną dodane na początku twojej listy, jednakże po wcześniej wybranych grupach rozmównych.
							</div>
						</div>

						<div class="column has-text-left is-two-thirds">
							{% if additionals %}
							<p class="subtitle">Kontakty dodatkowe</p>
							<table class="table is-hoverable">
								<tbody>
								{% for contact in additionals %}
									<tr>
										<th><input type="checkbox" value="{{contact['id']}}" class="speccontact"></th>
										<td>{{contact['name']}}</td>
										<td>{{contact['description']|safe}}</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
							{% endif %}



							<br>
							<div class="field has-text-left">
								<label class="label">Kontakty priorytetowe</label>
								<div class="control has-icons-left">
									<input class="input" id="priocals" type="text" placeholder="znaki wywoławcze lub identyfikatory DMR" value="">
									<span class="icon is-small is-left"><i class="fa fa-user"></i></span>
							 	</div>
								<p class="is-dark">
									<label class="checkbox"><input type="checkbox" id="priosave">&nbsp;Zapamiętaj</label>
								</p>
							</div>

							<div class="field has-text-left">
								<label class="label">Kontakty ignorowane</label>
								<div class="control has-icons-left">
								<input class="input" id="ignocals" type="text" placeholder="znaki wywoławcze lub identyfikatory DMR" value="">
								<span class="icon is-small is-left"><i class="fa fa-user"></i></span>
							 	</div>
								<p class="is-dark">
									<label class="checkbox"><input type="checkbox" id="ignosave">&nbsp;Zapamiętaj</label>
								</p>
							</div>
					  	</div>
					</div>
				</article>

				<article class="is-hidden" id="channels"> <!-- Kanały -->
					<h3 class="title is-3">Przemienniki</h3>
					<div class="columns">
						<div class="column is-one-quarter has-text-left">
							<div class="notification is-warning">
							  Symbolem <i class="fa fa-times" aria-hidden="true"></i> oznaczone są pasma i&nbsp;tryby nieobsługiwane przez radio <strong>GD-77</strong>.
							</div>
						</div>

						<div class="column has-text-left">

							<table class="table is-hoverable">
								<tr>
									<td><i class="fa fa-tasks" aria-hidden="true">&nbsp;</i></td>
									<td><strong>Pasma</strong></td>
									<td>
										{% for band in bands %}
										<label class="checkbox{%if band not in bands_supported%} disabled{% endif %}">
											{%if band in bands_supported%}
											<input type="checkbox" value="{{band}}" class="band_checkbox" checked>&nbsp;{{band}}&nbsp;
											{% else %}
											<i class="fa fa-times-circle-o" aria-hidden="true"></i>&nbsp;{{band}}&nbsp;
											{% endif %}
										</label>
										{% endfor %}
									</td>
								</tr>

								<tr>
									<td><i class="fa fa-cog" aria-hidden="true">&nbsp;</i></td>
									<td><strong>Modulacje/tryby</strong></td>
									<td>
										{% for mode in modes %}
											<label class="checkbox{% if mode not in modes_supported %} disabled{% endif%}">
											{% if mode in modes_supported %}
											<input type="checkbox" value="{{mode}}" class="mode_checkbox" checked>&nbsp;{{modes_supported[mode]}}&nbsp;
											{% else %}
											<i class="fa fa-times-circle-o" aria-hidden="true"></i>&nbsp;{{mode}}&nbsp;
											{% endif%}
											</label>
										{% endfor %}
									</td>
								</tr>

								<tr>
									<td><i class="fa fa-map-o" aria-hidden="true">&nbsp;</i></td>
									<td><strong>Obszary</strong></td>
									<td>
										{% for area in range(1,10) %}
											<label class="checkbox">
												<input type="checkbox" value="{{area}}" class="rep_area_checkbox">&nbsp;{{area}}&nbsp;
											</label>
										{% endfor %}
									</td>
								</tr>

								<tr>
									<td><i class="fa fa-filter" aria-hidden="true">&nbsp;</i></td>
									<td><strong>Opcje</strong></td>
									<td>
										<label class="checkbox">
											<input type="checkbox" class="digi_first_checkbox" checked>&nbsp;Przemienniki cyfrowe na początku listy&nbsp;
										</label>
									</td>
								</tr>
							</table>
						</div>
					</div>

					<h3 class="title is-3">Służby</h3>
					<div class="columns">
						<div class="column is-one-quarter has-text-left">
							<div class="notification is-orange">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <strong>Pamiętaj!</strong> O ile nasłuch niezabezpieczonych częstotliwości używanych przez służby państwowe jest legalny, o tyle udostępnianie pozyskanych w ten sposób informacji jest już <strong>surowo zabronione</strong>! To samo dotyczy nadawania na tych częstotliwościach.
							</div>
						</div>

						{% for service in gov_services %}
						<div class="column has-text-left">
							<h5 class="title is-5">{{service['name']}}</h5>
							<table class="table is-hoverable">
								<thead>
									<tr>
										<td colspan="3">
											<label class="checkbox">
												<input type="checkbox" value="" class="service_checkbox_all" service="{{service['name']}}">&nbsp;Wszystkie&nbsp;
											</label>
										</td>
									</tr>
								</thead>
								<tbody>
									{% for freq in service['freqs'] %}
										<tr>
											<td><input type="checkbox" value="{{freq}}" class="service_checkbox" service="{{service['name']}}"></td>
											<td>{{'%3.04f' % freq}}</td>
											<td>MHz</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						{% endfor %}
					</div>


					<h3 class="title is-3">PMR</h3>
					<div class="columns">
						<div class="column is-one-quarter has-text-left">
							<div class="notification is-orange">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <strong>Pamiętaj!</strong> Nadawanie na częstotliwościach PMR radiem GD-77 <strong>jest w Polsce zakazane</strong>!
							</div>
						</div>

						<div class="column has-text-left">
							<table class="table is-hoverable">
								<thead>
									<tr>
										<td colspan="3">
											<label class="checkbox">
												<input type="checkbox" value="" id="pmr_sel_all">&nbsp;Wszystkie&nbsp;
											</label>
										</td>
									</tr>
								</thead>
								<tbody>
									{% for freq in pmr %}
										<tr>
											<td><input type="checkbox" value="{{freq}}" class="pmr_checkbox"></td>
											<td>{{'%3.05f' % freq}}</td>
											<td>MHz</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</article>

				<article class="is-hidden" id="generate"> <!-- Generuj -->
					<div class="columns">
						<div class="column is-one-quarter has-text-left">
							<div class="notification is-warning">
							  Koniec ustawiania. Czas generowania. Kliknij w guzik, aby pobrać plik.<br>
							</div>
						</div>

						<div class="column has-text-left is-two-thirds">
							<div class="level top_gap">
								<div class="level-item has-text-centered">
									<a class="button is-dark is-large is-rounded" id="submit"><i class="fa fa-microchip" aria-hidden="true">&nbsp;</i>Generuj!</a>
				  				</div>
				  			</div>
					  	</div>
					</div>
				</article>

				<article class="has-text-centered is-hidden" id="comments"> <!-- Komentarze -->
					<div class="content" id="disqus_thread" style="width:95%"></div>
				</article>


		    </div>
		</section>

		<footer class="footer">
			<div class="container">
				<div class="content has-text-centered">
					<p>2017-2018 © sp5drs</p>
					<p>Dane źródłowe pochodzą ze stron: <a href="http://ham-digital.net">ham-digital.net</a> oraz <a href="http://przemienniki.net">przemienniki.net</a>.</p>
				</div>
			</div>
		</footer>


		<div class="modal" id="error">
		  <div class="modal-background"></div>
			<div class="modal-card">
		    <header class="modal-card-head">
		      <p class="modal-card-title">Coś się zjebawszy!</p>
		      <button class="delete" aria-label="close" id="alert_close"></button>
		    </header>
		    <section class="modal-card-body" id="error_message">
		      Coś się zjebawszy!
		    </section>
		  </div>
		</div>

		<div class="modal" id="about">
		  <div class="modal-background"></div>
		  <div class="modal-card">
		    <header class="modal-card-head">
		      <p class="modal-card-title"><i class="fa fa-info-circle" aria-hidden="true"></i></p>
		    </header>
		    <section class="modal-card-body">
					<table class="table">
						<tr>
							<td><i class="fa fa-code-fork" aria-hidden="true"></i></td>
							<td>Wersja:</td>
							<td>{{version}}</td>
						</tr>
						<tr>
							<td><i class="fa fa-pencil" aria-hidden="true"></i></td>
							<td>Ostatnia aktualizacja kodu:</td>
							<td>{{last_update}}</td>
						</tr>
						<tr>
							<td><i class="fa fa-database" aria-hidden="true"></i></td>
							<td>Ostatnie aktualizacja danych:</td>
							<td>{{last_data}}</td>
						</tr>
					</table>
		    </section>
		    <footer class="modal-card-foot has-text-centered">
		      <button class="button is-info" id="about_close">Schowaj</button>
		    </footer>
		  </div>
		</div>

	</div>

</section>
<script id="dsq-count-scr" src="//gd77.disqus.com/count.js" async></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-220058-16"></script>
<script src="{{ url_for('static', filename='stuff.js') }}"></script>
{% endblock %}