<div class="modal" id="about">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title"><i class="fa fa-info-circle fa-2x" aria-hidden="true"></i></p>
    </header>
    <section class="modal-card-body">
            <table class="table">
                <tr>
                    <td><i class="fa fa-code-fork fa-2x" aria-hidden="true"></i></td>
                    <td>Wersja:</td>
                    <td>{{version}}</td>
                </tr>
                <tr>
                    <td><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></td>
                    <td>Ostatnia aktualizacja kodu:</td>
                    <td>{{last_update}}</td>
                </tr>
                <tr>
                    <td><i class="fa fa-database fa-2x" aria-hidden="true"></i></td>
                    <td>Ostatnia aktualizacja danych:</td>
                    <td>{{last_data}} UTC</td>
                </tr>

                <tr>
                    <td><i class="fa fa-bug fa-2x" aria-hidden="true"></i></td>
                    <td>Gdzie zgłaszać błędy i pomysły:</td>
                    <td><a href="https://github.com/satanowski/cnt4gd77/issues">najlepiej tu...</a> <i class="fa fa-smile-o" aria-hidden="true"></i></td>
                </tr>

                <tr>
                    <td><i class="fa fa-users fa-2x" aria-hidden="true"></i></td>
                    <td>Lista twórców i pomagaczy <i class="fa fa-smile-o" aria-hidden="true"></i></td>
                    <td>
                        <ul>
                            <li>SP5DRS</li>
                            <li>SP5TA</li>
                            <li>SQ5AZQ</li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td><i class="fa fa-list-alt fa-2x" aria-hidden="true"></i></td>
                    <td colspan="2">Changelog:</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <script src="https://gist.github.com/satanowski/c6f75dd2e1ef6caa5c9b3bedc4360938.js"></script>
                    </td>
                </tr>
            </table>
    </section>
    <footer class="modal-card-foot has-text-centered">
      <button class="button is-info" id="about_close">Schowaj</button>
    </footer>
  </div>
</div>