<div class="column has-text-left">
<h5 class="title is-5">Analog</h5>
<table class="table is-hoverable">
    <thead>
        <tr>
            <td colspan="3">
                <label class="checkbox">
                    <input type="checkbox" value="" id="apmr_sel_all">&nbsp;Wszystkie&nbsp;
                </label>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for freq in pmr %}
            <tr>
                <td><input type="checkbox" value="{{freq}}" class="apmr_checkbox"></td>
                <td>{{'%3.05f' % freq}}</td>
                <td>MHz</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<div class="column has-text-left">
<h5 class="title is-5">Digital</h5>
<table class="table is-hoverable">
    <thead>
        <tr>
            <td colspan="3">
                <label class="checkbox">
                    <input type="checkbox" value="" id="dpmr_sel_all">&nbsp;Wszystkie&nbsp;
                </label>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for freq in pmr_digi %}
        <tr>
            <td><input type="checkbox" value="{{freq}}" class="dpmr_checkbox"></td>
            <td>{{'%3.05f' % freq}}</td>
            <td>MHz</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>