<section class="hero is-dark" style="border-left:1px solid #ccc;border-right:1px solid #ccc">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <header class="navbar">
      <div class="container">

        <div id="navbarMenuHeroC" class="navbar-menu">
          <div class="navbar-end" id="about_btn">
            <a class="navbar-item">
              Info
            </a>
            <span class="navbar-item">
                &nbsp;
            </span>
          </div>
        </div>
      </div>
    </header>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Generator listy kontaktów dla radia GD-77
      </h1>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
           <li class="navbutton is-active" section="prefarea"><a><span class="icon is-small"><i class="fa fa-map-o"></i></span><span>Prefixy i okręgi kontaktów</span></a></li>
           <li class="navbutton" section="talkgroups"><a><span class="icon is-small"><i class="fa fa-users"></i></span><span>Grupy rozmówne</span></a></li>
           <li class="navbutton" section="speccont"><a><span class="icon is-small"><i class="fa fa-user"></i></span><span>Kontakty specjalne</span></a></li>
           <li class="navbutton" section="channels"><a><span class="icon is-small"><i class="fa fa-server"></i></span><span>Kanały</span></a></li>
           <li class="navbutton" section="generate"><a><span class="icon is-small"><i class="fa fa-magic"></i></span><span>Generuj</span></a></li>
           <li class="navbutton" section="comments"><a><span class="icon is-small"><i class="fa fa-commenting-o"></i></span><span>Komentarze</span></a></li>
      </div>
    </nav>
  </div>
</section>